<div class="contactheader"><h1> Let us know what you think! </h1></div>
<br><br><br><br>

<%= simple_form_for @message do |f| %>
  <div class="form-inputs">
    <%= f.input :email, label: 'Email Address', placeholder: 'Please enter your email address here', label_html: {class: "formfont"} %>
    <%= f.input :subject, label: 'Subject', placeholder: 'What is this about?', label_html: {class: "formfont"} %>
    <%= f.input :description, label: 'Tell us More!', placeholder: 'Explain Your Message Here', label_html: {class: "formfont"} %>
    <%= f.input :first_name, label: 'First Name', placeholder: 'Your First Name Here', label_html: {class: "formfont"} %>
    <%= f.input :last_name, label: 'Last Name', placeholder: 'Your Last Name Here', label_html: {class: "formfont"} %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, 'Send Message', class: 'btn dark' %>
  </div>
<% end %>
