<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table id="responsive">
<thead>
  <tr>
    <th><%= sortable "name", "Name" %></th>
    <th>Tags</th>
  </tr>
</thead>
<tbody>
  <% @blogs.each do |blog| %>
    <tr>
      <td><%= link_to "#{blog.name}", "http://#{blog.url}" %></td>
      <td><%= blog.tag_list %></td>
      <% if user_signed_in? %>
        <td>
          <div data-blog-id='<%= blog.id %>' class="button unfavorite <%= 'show' if blog.check_favorite?(current_user.id) %>" onclick='unfavoriteBlog(event)'>Unfavorite Blog</div>
          <div data-blog-id='<%= blog.id %>' class="button favorite <%= 'show' if !blog.check_favorite?(current_user.id) %>" onclick='favoriteBlog(event)'>Favorite Blog</div>
        </td>
        <td>
          <div data-blog-id='<%= blog.id %>' class="liking button like <%= 'success' if current_user.voted_up_on? blog %> " onclick='likeBlog(event)'>Like <%= blog.likes.size %></div>
          <div data-blog-id='<%= blog.id %>' class="liking button dislike <%= 'success' if current_user.voted_down_on? blog %>" onclick='dislikeBlog(event)'>Dislike <%= blog.dislikes.size %></div>
        </td>
        <td><%= link_to 'Comments', blog_comments_path(blog) %>

    <% end %>
    </tr>
  <% end %>
</tbody>
</table>
<div class="digg_pagination pagination">
    <div class="page_info">
      <%= page_entries_info @posts %>
    </div>
    <%= will_paginate @blogs, :container => false %>
  </div>
