<h1> Blogs </h1>
<%= search_form_for @search do |f| %>
  <%= f.label :name_cont %>
  <%= f.text_field :name_cont %>
  <%= f.text_field :tags_name_in %>
  <%= f.hidden_field :status_cont, value: "Verified" %>

  <%= f.submit %>
<% end %>

<table id="blogs">
<thead>
  <tr>
    <th><%= sort_link(@search, :name, "Blog Name") %></th>
    <th><%= sort_link(@search, :description, "Blog Description") %></th>
    <th><%= sort_link(@search, :tag_list, "Tags") %></th>
  </tr>
</thead>
<tbody>
  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.name %></td>
      <td><%= blog.description %></td>
      <td><%= blog.tag_list %></td>
      <%= render :partial => 'blog', :object => blog %>
    </tr>
  <% end %>
</tbody>
</table>