<h1> Blogs </h1>
<%= search_form_for @search do |f| %>
  <%= f.label :name_cont %>
  <%= f.text_field :name_cont %>
  <%= f.text_field :tags_name_in %>
  <%= f.hidden_field :status_cont, value: "Verified" %>

  <%= f.submit %>
<% end %>

<% @blogs.each do |blog| %>
  <%= blog.name %>
  <% end %>