<h1> Blogs </h1>
<%= search_form_for @search do |f| %>
  <div class = "search">
    <%= f.text_field :name_or_tags_name_cont %>
  </div>
  <%= f.hidden_field :status_cont, value: "Verified" %>

  <%= f.submit %>
<% end %>

<table id="blogs">
<thead>
  <tr>
    <th><%= sort_link(@search, :name, "Blog Name") %></th>
    <th><%= sort_link(@search, :description, "Blog Description") %></th>
    <th><%= sort_link(@search, :tag_list, "Tags") %></th>
  </tr>
</thead>
<tbody>
  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.name %></td>
      <td><%= blog.description %></td>
      <td><%= blog.tag_list %></td>
      <% if user_signed_in? %>
        <td data-blog-id='<%= blog.id %>' class="button unfavorite <%= 'show' if blog.check_favorite?(current_user.id) %>" onclick='unfavoriteBlog(event)'>Unfavorite Blog</td>
        <td data-blog-id='<%= blog.id %>' class="button favorite <%= 'show' if !blog.check_favorite?(current_user.id) %>" onclick='favoriteBlog(event)'>Favorite Blog</td>
        <td data-blog-id='<%= blog.id %>' class="button like" onclick='likeBlog(event)'>Like</td>
        <td data-blog-id='<%= blog.id %>' class="button dislike" onclick='dislikeBlog(event)'>Dislike</td>
    <% end %>
    </tr>
  <% end %>
</tbody>
</table>
<div class = "paginateblogs"><%= will_paginate @blogs %></div>


<% content_for :extra_footer do %>
<script>
  window.onload=function(){
    blogSearch();
  }

  var blogSearch = function(){
    $('.search').keyup(function(e){
      e.preventDefault();
      var data = {q: {name_or_tags_name_cont: $('input', '.search').val(), status_cont: 'Verified'}};
      $.get('/', data, function(response){
        $('tbody').html('');
        for(var i = 0; i < response.blogs.length; i++){
        if (response.blogs[i].favorite_user == true){
          var favorite = 'show';
          var unfavorite = '';
        }else{
          var favorite = '';
          var unfavorite = 'show';
        }
          $('tbody').append('<tr><td>'+response.blogs[i].name+'</td><td>'+response.blogs[i].description+'</td><td>'+response.blogs[i].tag_list+'</td><% if user_signed_in? %><td data-blog-id='+ response.blogs[i].id +' class="button unfavorite ' + favorite +'" onclick="unfavoriteBlog(event)">Unfavorite Blog</td><td data-blog-id='+ response.blogs[i].id +' class="button favorite ' + unfavorite + '" onclick="favoriteBlog(event)">Favorite Blog</td><td data-blog-id=' + response.blogs[i].id +' class="button like ' + '" onclick="likeBlog(event)">Like</td><td data-blog-id=' + response.blogs[i].id +' class="button dislike '+ '" onclick="dislikeBlog(event)">Dislike</td><% end %></tr>');
        }
      });
    });
  }
  var unfavoriteBlog = function(e){
      e.preventDefault();
      var target = $(e.target);
      $('.unfavorite', target.parent()).toggle();
      $('.favorite', target.parent()).toggle();
      $.get('blogs/' + target.data('blog-id') + '/unfavorite', function(response){    
      });
  }

  var favoriteBlog = function(e){
      e.preventDefault();
      var target = $(e.target);
      $('.unfavorite', target.parent()).toggle();
      $('.favorite', target.parent()).toggle();
      $.get('blogs/' + target.data('blog-id') + '/favorite', function(response){
      });
  }

  var likeBlog = function(e){
      e.preventDefault();
      console.log('Liked');
      var target = $(e.target);
      $.get('blogs/' + target.data('blog-id') + '/like', function(response){        
      });
  }

  var dislikeBlog = function(e){
      e.preventDefault();
      console.log('Disliked');
      var target = $(e.target);
      $.get('blogs/' + target.data('blog-id') + '/dislike', function(response){
      });
  }
</script>
<% end %>

<% if false %>
change the link-tos to be a tags
<% end %>