<div class="siteheader"><h2>Sign up</h2></div>
<% content_for(:title) do %>Sign Up<% end %>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username, autofocus: true, placeholder: 'Your username (Optional, used for comments)', label_html: { class: 'formfont' } %>
    <%= f.input :first_name, placeholder: 'Your First Name (Optional)', label_html: {class: 'formfont' } %>
    <%= f.input :last_name, placeholder: 'Your Last Name (Optional)', label_html: {class: 'formfont' } %>
    <%= f.input :email, :required => true, placeholder: 'Your Email Address', label_html: {class: 'formfont' } %>
    <%= f.input :password, :required => true, placeholder: 'Choose a Password', label_html: {class: 'formfont' } %>
    <%= f.input :password_confirmation, :required => true, placeholder: 'Please Re-enter Your Password', label_html: {class: 'formfont' } %>
  </div>

  <div class="form-actions centerbutton">
    <%= f.button :submit, 'Sign Up Now', class: 'btn dark' %>
  </div>
<% end %>

