<%= simple_form_for [@blog, @comment] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :body, :autofocus => true %>
    <%= f.input :anonymous, as: :radio_buttons %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Post Comment" %>
  </div>
<% end %>
