<h1>Welcome, <% if current_user.first_name == '' || current_user.first_name.nil? %> 
              <%= current_user.email %>
              <% else %>
              <%= "#{current_user.first_name} #{current_user.last_name }" %>
              <% end %> </h1>
              
<h2> Favorite Blogs </h2>
  <table id="favorites">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Tag List</th>
      </tr>
    </thead>
    <tbody>
      <% @user.find_favorites.each do |blog| %>
        <tr>
          <td><%= blog.name %></td>
          <td><%= blog.description %></td>
          <td><%= blog.tag_list %></td>
          <td data-blog-id='<%= blog.id %>' class="button unfavoritebutton show">Remove</td>
        </tr>
      <% end %>
    </tbody>
  </table>

<h2> Most Recent Blogs </h2>


<% if user_signed_in? %>
<script>
  window.onload=function(){ 
      removeFromFavorites();
  }

  var removeFromFavorites = function(){
    $('.unfavoritebutton').click(function(e){
      e.preventDefault();
      var target = $(e.target);
      $('.unfavoritebutton', target.parent()).closest('tr').remove();
      $.get('/blogs/' + target.data('blog-id') + '/unfavorite', function(response){
      });
    })
  }
</script>

<% end %>
