<h3> Taggings </h3>
  <%= simple_form_for [:admin, @blog] do |f| %>
    <%= f.input :name %>
    <%= f.input :url %>
    <%= f.input :description %>
    <%= f.input :tag_list %>
    <%= f.input :status, wrapper_html: { id: 'blog_verified' }, collection: ["Verified" , "Denied"], as: :radio_buttons %>
    <%= f.button :submit, 'Verify' %>
  <% end %>

  <%= link_to 'Back to List', admin_blogs_path %>
